
ul {
    list-style-type: none;
    display: flex;
    float: right;
  }
  
  li {
    padding: 15px;
  }
.main{
  height: 400px;
}
  
.main a {
  color: white;
  background-color: black;
  padding: 7px;
  border: 2px solid black;
}
.ball {
  position: relative;
  height: 500px;
  background-color: #FEBE10 ;
  overflow: hidden;
}

.ball::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 20%;
  background-color: white;
}

.ball .yellow-box{
  padding-top: 10%;
  margin: auto;
  text-align: center;
  width: 40%;
  display: inline-block;
}