
ul {
    list-style-type: none;
    display: flex;
    float: right;
  }
  
  li {
    padding: 15px;
  }
.main{
  height: 400px;
}
  

.ball {
  height: 300px;
  background-color: #FEBE10;
}

.ball .yellow-box{
  padding-top: 10%;
  margin: auto;
  text-align: center;
  width: 40%;
  display: inline-block;
}